<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Louisiana Political Lookup">
        <meta name="keywords" content="LALookup, LA, Louisiana, Politics, Political Action, Call My Senator, Call My Congressman, Call My Rep">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LALookup </title>
    </head>


    <body>
        {% load static %}
        {# Load the tag library #}
        {% load bootstrap5 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


        <script>
            var lat = 0.0;
            var lon = 0.0;

            function submitLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(setLatLong);
                } else {
                    alert("Geolocation is not supported by this browser");
                }
            }

            function setLatLong(position) {
                lat = position.coords.latitude;
                lon = position.coords.longitude;
                clickSubmit();
            }

            function setAddress(){
                address = addressText.value;
            }

            function clickSubmit() {
                form = document.getElementById("searchform");
                form.method = 'POST';
                form.lat.value = lat;
                form.lon.value = lon;
                form.submit();
            }
        </script>

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#"> &nbsp; Louisiana Progressive Action</a>
            <div class="btn-group">
                <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">Be Heard</button>
                    <ul class="dropdown-menu dropdown-menu-end ">
                      <li><a class="dropdown-item" href="/locateMe">My Elected Officials</a></li>
                      <div class="dropdown-divider"></div>
                      <li><a class="dropdown-item" href="/callMyStateRep">Call My State Rep</a></li>
                      <li><a class="dropdown-item" href="/emailMyStateRep">Email My State Rep</a></li>
                      <div class="dropdown-divider"></div>
                      <li><a class="dropdown-item" href="/callMyStateSenator">Call My State Senator</a></li>
                      <li><a class="dropdown-item" href="/emailMyStateSenator">Email My State Senator</a></li>
                      <div class="dropdown-divider"></div>
                      <li><a class="dropdown-item" href="/callMyUSRep">Call My Congress Person</a></li>
                      <li><a class="dropdown-item" href="/emailMyUSRep">Email My Congress Person</a></li>
                      <div class="dropdown-divider"></div>
                      <li><a class="dropdown-item" href="/callSenatorCassidy">Call US Senator Cassidy</a></li>
                      <li><a class="dropdown-item" href="/emailSenatorCassidy">Email US Senator Cassidy</a></li>
                      <div class="dropdown-divider"></div>
                      <li><a class="dropdown-item" href="/callSenatorKennedy">Call US Senator Kennedy</a></li>
                      <li><a class="dropdown-item" href="/emailSenatorKennedy">Email US Senator Kennedy</a></li>
                      <div class="dropdown-divider"></div>
                      <li><a class="dropdown-item" href="/callMyGov">Call My Governor</a></li>
                      <li><a class="dropdown-item" href="/emailMyGov">Email My Governor</a></li>
                  </ul>
                </div>
            </div>
        </nav>

        <br><br>

        {%block content %}

        {% endblock content %}


        <div class="b-example-divider"></div>
        <br><br><br><br><br>

        <div class="container">
          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-8 d-flex align-items-center">
              <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
              </a>
                <small>
                    <span class="mb-3 mb-md-0 text-muted"> &copy;2025 <a href="https://insomniac.tech/matthew-wollenweber/">Matthew Wollenweber</a>&nbsp;</span>
                    <br>
                    <span class="mb-3 mb-md-0 text-muted">Please report problems to: <a href="mailto:info@defendlouisiana.org">info@defendlouisiana.org </a></span>
                </small>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
              <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
              <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
              <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
            </ul>
          </footer>
        </div>

    </body>

</html>