{% extends "base.html" %}


{% block dynamicmeta %}
    <title>Contact Your Elected Leaders</title>

    {% if url is not none %}
        <meta property="og:url" content="{{ url }}">
        <meta property="twitter:url" content="{{ url }}">
    {% endif %}

    {% if description is not none %}
        <meta name="twitter:description" content="{{ description }}">
        <meta property="og:description" content="{{ description }}">
    {% else %}
        <meta name="twitter:description" content="Be heard. Contact your Elected Leaders with Louisiana Progressive Action">
        <meta property="og:description" content="Be heard. Contact your Elected Leaders with Louisiana Progressive Action">
    {% endif %}

    {% if image_url is not none %}
        <meta property="twitter:image" content="{{ image_url }}">
        <meta property="og:image" content="{{ image_url }}">
    {% else %}
        <meta property="twitter:image" content="https://action.defendlouisiana.org/static/default.png">
        <meta property="og:image" content="https://action.defendlouisiana.org/static/default.png">
    {% endif %}

{% endblock %}


{% block content %}
    <div class="container-fluid" id="results-container" > <!-- Results Container -->
        <h1>Your Elected Leaders</h1><br>
        {%  for result in results %}
            <div class="card" style="width: 30rem;" >
              <!-- <img src="placeholder-headshot.png " class="card-img-top" alt="placeholder"> -->
              <div class="card-body">
                <h5 class="card-title"> {{ result.first_name }} {{ result.last_name }}</h5>
                <p class="card-text"> {{ result.office_title }}
                    {% if result.office_description %} {{ result.office_description }} {% endif %}
                    {% if result.district  %} District: {{ result.district }} {% endif %}</p>

              </div>
              <ul class="list-group list-group-flush">
                  {% if result.email  is not none %} <li class="list-group-item"><i class="bi bi-mailbox"> <a href="mailto:{{ result.email }}"> {{ result.email }}</a> </i> </li> {%  endif  %}
                  {% if result.mailform  is not none %} <li class="list-group-item"><i class="bi bi-mailbox"> <a href="{{ result.mailform }}"> {{ result.mailform }}</a> </i> </li> {%  endif  %}
                  {% if result.office_phone  is not none %}  <li class="list-group-item"><i class="bi bi-telephone"> <a href="tel:{{ result.office_phone }}">{{  result.office_phone}}</a> </i> </li> {%  endif  %}
                  {% if result.office_url  is not none %} <li class="list-group-item"><i class="bi bi-link"> <a href="{{ result.office_url }}">{{ result.office_url }}</a> </i> </li> {%  endif  %}
                  {% if result.twitter  is not none %} <li class="list-group-item"><i class="bi bi-twitter"> <a href="http://x.com/{{ result.twitter }}">{{ result.twitter }}</a> </i> </li> {%  endif  %}
              </ul>
            </div> <!-- card -->
            <br>
        {% endfor %}
    </div> <!-- results -->
{% endblock content %}