{% extends "base.html" %}

{% block content %}
    <div class="container-fluid" id="results-container" > <!-- Results Container -->
        <div class="card" style="width: 18rem;" >
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">State Rep Example</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">email: <a href="mailto:example@test.com">example@test.com</a></li>
              <li class="list-group-item">phone: <a href="tel:504-555-5555">504-555-5555</a></li>
          </ul>
        </div> <!-- card -->
            
    </div> <!-- results -->
{% endblock content %}