{% extends "base.html" %}

{% block content %}
    <form id="searchform" action="/contact"> <!-- form -->
        <div class="container-fluid"> <!-- Search Container -->
             <div class="row justify-content-md-center p-1" >
                 <div class="col-md-auto p-1">
                    <input type="text" id="addressText" name="addressText" value="" placeholder="Address" title="Please enter your address" >
                 </div> <!-- col -->
    
                 <div class="col-md-auto p-1">
                      <input class="btn btn-dark" type="button" value="Submit"  onclick="clickSubmit(this.form)"  >
                 </div> <!-- col -->
            </div> <!-- row -->
    
            <div class="row justify-content-md-center" >
               <div class="col-md-auto "></div>
                <div class="col-md-auto ">
                    <input type="hidden" id='lon' name="lon" value="0.0">
                    <input type="hidden" id='lat' name="lat" value="0.0">
                    <input class="btn btn-primary" type="button" value="Locate Me"  onclick="submitLocation(this.form)"  >
                </div>
            </div> <!-- row -->
        </div> <!-- search container-fluid -->

    </form><!-- form -->

{% endblock content %}