{% extends "base.html" %}

{% block dynamicmeta %}
    {% if title is not none %}
        <title> {{ title }}</title>
    {% else %}
        <title>Search</title>
    {% endif %}

    {% if url is not none %}
        <meta property="og:url" content="{{ url }}">
        <meta property="twitter:url" content="{{ url }}">
    {% endif %}

    {% if description is not none %}
        <meta name="twitter:description" content="{{ description }}">
        <meta property="og:description" content="{{ description }}">
    {% else %}
        <meta name="twitter:description" content="Be heard. Contact your Elected Leaders with Louisiana Progressive Action">
        <meta property="og:description" content="Be heard. Contact your Elected Leaders with Louisiana Progressive Action">
    {% endif %}

    {% if image_url is not none %}
        <meta property="twitter:image" content="{{ image_url }}">
        <meta property="og:image" content="{{ image_url }}">
    {% else %}
        <meta property="twitter:image" content="https://action.defendlouisiana.org/static/default.png">
        <meta property="og:image" content="https://action.defendlouisiana.org/static/default.png">
    {% endif %}

{% endblock %}

{% block content %}
    <form id="searchform" action="/contact"> <!-- form -->
        <div class="container-fluid"> <!-- Search Container -->
             <div class="row justify-content-md-center p-1" >
                 <div class="col-md-auto p-1">
                    <input type="text" id="addressText" name="addressText" value="" placeholder="Address" title="Please enter your address" >
                 </div> <!-- col -->
    
                 <div class="col-md-auto p-1">
                      <input class="btn btn-dark" type="button" value="Submit"  onclick="clickSubmit(this.form)"  >
                 </div> <!-- col -->
            </div> <!-- row -->
    
            <div class="row justify-content-md-center" >
               <div class="col-md-auto "></div>
                <div class="col-md-auto ">
                    <input type="hidden" id='lon' name="lon" value="0.0">
                    <input type="hidden" id='lat' name="lat" value="0.0">
                    <input class="btn btn-primary" type="button" value="Locate Me"  onclick="submitLocation(this.form)"  >
                </div>
            </div> <!-- row -->
        </div> <!-- search container-fluid -->

    </form><!-- form -->

{% endblock content %}