amqp==5.3.1
appdirs==1.4.4
asgiref==3.8.1
attrs==25.1.0
beautifulsoup4==4.13.3
billiard==4.2.1
celery==5.4.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cligj==0.7.2
colorclass==2.2.2
decorator==5.2.0
defusedxml==0.7.1
Django==5.1.6
django-bootstrap-v5==1.0.11
django-cors-headers==4.7.0
docopt==0.6.2
fiona==1.10.1
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gunicorn==23.0.0
idna==3.10
kombu==5.4.2
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pip-upgrader==1.4.15
prompt_toolkit==3.0.50
psycopg2-binary==2.9.10
pygris==0.1.6
pyogrio==0.10.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.1
ratelim==0.1.6
redis==5.2.1
requests==2.32.3
Rtree==1.3.0
setuptools==75.8.0
shapely==2.0.7
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
terminaltables==3.1.10
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.9.0
